* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav#menu {
    width: 20vw;
    height: 100vh;
    border-right: 2px solid rgb(189, 189, 189);    
}

a{
    text-decoration: none;
    color: #000;
    padding-right: 150px;
    font-family: Arial, Helvetica, sans-serif;   
}

nav ul li {      
    list-style: none; 
    padding: 3px;
} 

section {
    width: 80vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

main {
    display: flex;
}

fieldset.clientes-produtos {
    width: 30vw;
    height: auto;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

fieldset header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

h1{
    font-weight: bold;
    text-decoration: underline;
}

input#Xfechar {
    width: 1vw;
    height: 5vh;
    font-weight: bold;
    font-size: 18px;
    color: red;
    background: none;
    border: none
}

input.ajuste {
    width: 100%;
    height: 5vh;
    margin-bottom: 5px;   
}

fieldset footer {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

input#voltar, input#avançar {
    width: 4vw;
    height: 4vh;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(126, 87, 194);
    border: none;   
}

input#novo {
    width: 6vw;
    height: 4vh;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(21, 101, 192);
    border: none;
    margin-left: 80px;
}

input#salvar {
    width: 6vw;
    height: 4vh;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(56, 142, 60);
    border: none;
}

fieldset.pedidos {
    width: 60vw;
    height: auto;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


