*{
    margin: 0;
    padding: 0;
    border: 0;
}
div#pai{
    width: 100px;
    height: auto;
    background-color: green; 
    
} 
/* div#filha{
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 0px;
    
} */
div.filhas{
    width: 80px;
    height: 80px;
    background-color: red;
    margin: 5px;
}
#corunica{
    background-color: blue;
    position: sticky;
    top: 30px;
}